* {
    margin: 0px;
    padding: 0px;
}

body {}

header {
    background-image: url("/B12A01-landing-launchpad/Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 152px;
}

nav{
    width: 1140px;
    /* height: 151px; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px 0px;
    align-items: center;
    margin-bottom: 158px;
}

.brand-logo {
    font-size: 34px;
    color: #4E47FF;
}

.font-inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900px;
    font-style: bold;
}


.btn {
    width: 132px;
    height: 48px;
    font-size: 16px;
    background-color: #4E47FF;
    color: #FFFFFF;

    border: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: #252432;
}

.hero-banner {
    width: 905px;
    height: 237px;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.banner-heading {
    font-size: 64px;
    color: #252432;

}

.font-raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: bold;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}


.btn-secondary {
    width: 174px;
    height: 48px;
    margin: 37px;
}

main {
    width: 1140px;
    margin: auto;
    margin-top: 116px;
}

.preview-section {
    width: 1140px;
    height: 328px;
    margin: auto;
}

.preview-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview {
    display: flex;
    flex-direction: column;
    gap: 23px;

}

.preview-section-heading {
    font-size: 42px;
}

.section-description {
    font-size: 24px;
    color: #25243280;
}

.preview-btn {
    width: 229px;
    font-size: 16px;
    /* padding: 12px 36px; */
}

.preview-img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}


.user-section {
    margin-top: 152px;
    background-color: #4E47FF1A;
    padding: 50px 142px;
    margin-bottom: 137px;
}

.user-stat {
    justify-content: center;
}

.user-title {
    font-size: 38px;
    text-align: center;
}

.view {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    text-align: center;
}

.user-number {
    font-size: 80px;
}

.user-des {
    font-size: 20px;
    font-weight: 400px;
    font-style: normal;
    color: #00000080;
}


.review-section {
    margin-bottom: 137px;
}



.review-section-heading {
    font-size: 42px;
    font-weight: 700px;
    text-align: center;
}

.review-card {
    display: flex;
    margin-top: 50px;
}

.card {
    width: 366px;
    height: 243px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}


.rating {
    display: flex;
}

.review-title {
    font-weight: 600px;
    font-size: 24px;
}

.review-description {
    color: #1E1E1E;
    font-weight: 400px;
    font-style: normal;
    font-size: 16px;
    margin-top: 10px;
}

.reviewer {
    color: #757575;
    font-weight: 600px;
    font-style: normal;
    font-size: 16px;
}

.review-date {
    color: #B3B3B3;
}


.free-section {
    margin-bottom: 92px;
}

.free-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.free-heading {
    font-size: 50px;
    font-weight: 700px;
    text-align: center;
}

.free-subtitle {
    font-size: 16px;
    font-weight: 400px;
    color: #00000080;
}

.free-btn {
    font-size: 16px;
    font-weight: 500px;
    width: 195px;
    padding: 12px 36px;

}

.free-img {
    width: 840px;
    height: 364px;
    border-radius: 48px;
}

