* {
    margin: 0px;
    padding: 0px;
}

body {
        background-color: #F5F8FF;
}

header {
    background-image: url("/B12A01-landing-launchpad/Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 152px;
}

nav{
    width: 1140px;
    /* height: 151px; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px 0px;
    align-items: center;
    margin-bottom: 158px;
}

.brand-logo {
    font-size: 34px;
    color: #4E47FF;
}

.font-inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
}


.btn {
    width: 132px;
    height: 48px;
    font-size: 16px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: #252432;
}

.hero-banner {
    width: 905px;
    height: 237px;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.banner-heading {
    font-size: 64px;
    color: #252432;

}

.font-raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.btn-secondary {
    width: 174px;
    height: 48px;
    margin: 37px;
    font-size: 16px;
}

main {
    width: 1140px;
    margin: auto;
    margin-top: 116px;
}

.preview-section {
    width: 1140px;
    height: 328px;
    margin: auto;
}

.preview-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview {
    display: flex;
    flex-direction: column;
    gap: 23px;

}

.preview-section-heading {
    font-size: 42px;
}

.section-description {
    font-size: 24px;
    color: #25243280;
    font-weight: 400;
}

.preview-btn {
    width: 229px;
    font-size: 16px;
    /* padding: 12px 36px; */
}

.preview-img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}


.user-section {
    margin-top: 152px;
    background-color: #4E47FF1A;
    padding: 50px 142px;
    margin-bottom: 137px;
    border-radius: 20px;
}

.user-stat {
    justify-content: center;
}

.user-title {
    font-size: 38px;
    text-align: center;
}

.view {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    text-align: center;
}

.user-number {
    font-size: 80px;
    font-weight: 700;
}

.user-des {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #00000080;
}


.review-section {
    margin-bottom: 137px;
}



.review-section-heading {
    font-size: 42px;
    font-weight: 700px;
    text-align: center;
}

.review-card {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    gap: 20px;
    

}

.card {
    background-color: #FFFFFF;
    width: 366px;
    /* height: 243px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    border-radius: 10px;
    border: 2px solid #F2EDED;
    
}


.rating {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.review-title {
    font-weight: 600px;
    font-size: 24px;
}

.review-description {
    color: #1E1E1E;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 10px;
}

.review-info{
    display: flex;
    gap: 10px;
}

.reviewer-img{
    border-radius: 100%;
}

.reviewer {
    color: #757575;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.review-date {
    color: #B3B3B3;
    font-size: 16px;
}


.free-section {
    margin-bottom: 92px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 71px 150px;
}

.free-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.free-heading {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.free-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
}

.free-btn {
    font-size: 16px;
    font-weight: 500;
    width: 195px;
    padding: 12px 36px;

}

.free-img {
    width: 840px;
    height: 364px;
    border-radius: 48px;
}


.contact-section {
    display: flex;
    align-items: center;
    padding: 71px 0px;
}

.contact-form{
     display: flex;
    align-items: center;
    padding: 71px 0px;
}

.contact-section-heading {
    font-size: 97px;
    font-weight: 700px;
}


form input {
    display: block;
    flex-direction: column;
    gap: 10px;
    width: 497px;
    height: 70px;
    padding: 20px 32px;
    font-size: 20px;
    font-weight: 400;
}

form textarea {
    width: 497px;
    height: 135px;
    padding: 20px 32px;
    font-size: 20px;
    font-weight: 400px;
    text-decoration: none;
}

form label {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 500;
}

.contact-btn{
    width: 100%;
    font-size: 16px;
    margin-top: 19px;
    
}

footer{
    
    background-color: #FFFFFF;
    padding: 104px;
}

.foter-content{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foter-brand{
    width: 531px;
}

footer ul{
    display: flex;
    gap: 48px;
    justify-content: center;
    padding: 20px 65px 0px;
    margin-bottom: 20px;
    
}

.foter-description , a{
    font-weight: 400;
    font-size: 16px;
    color: #8987A1;
}

.foter-heading{
    font-size: 100px;
}

footer ul li a{
    text-decoration: none;
    color: #8987A1;
    
}

footer li{
    list-style: none;
    
}

form input{
    border-radius: 10px;
}

form textarea{
    border-radius: 10px;
}